* {
  font-size: 18px;
  min-height: 0;
  padding: 0.1rem;
  font-family: 'CozetteCrossedSevenVector', 'Weather Icons';
}

window#waybar {
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
}

tooltip {
  background: rgba(0, 0, 0, 0.6);
}
tooltip label {
  color: white;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  background: rgba(255, 255, 255, 0.3);
}

#mode,
#clock,
#battery {
  padding: 0 10px;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  color: #ffffff;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery icon {
  color: red;
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #cccccc;
    color: #cccccc;
  }
}

#battery.warning:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #ffffff;
}

#network.disconnected {
  background-color: #f53c3c;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-os_button {
  font-size: 32px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#custom-os_button:hover {
  background: white;
  color: black;
}
