@theme "~/.config/rofi/ooo.rasi"

listview {
  columns:                        1;
  // lines:                          8;
  cycle:                          false;
  dynamic:                        true;
  layout:                         vertical;
}

window {
  width: 18%;
  padding: 16px;
}
